* {
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";  /* "Monaco" */
}

body{
	background-color: #f2f2f2;
}

.HeadBar{
	height: 80px;
	padding: 40px;
	//background-color: rgb(92, 45, 145);
	//background: linear-gradient(180deg, hsl(266.51162790697674,100%,45%) 0%, hsl(266.51162790697674,70%,35%) 100%);
	background: linear-gradient(180deg, hsl(216.09756097560975,100%,45%) 0%, hsl(216.09756097560975,70%,35%) 100%);
	color: white;
	/* background-color: aqua; */
	/* box-sizing: border-box; */
}

#Title{
	font-size: 40px;
	font-weight: 800;
}

#LiteTitle{
	font-size: 20px;
	font-weight: 200;
}





/* 工程操作区域 */
.Work{
	/* background-color: chocolate; */
	overflow: hidden;
	/* height: 300px; */
}



.ProjectArea{
	float: left;
	padding: 40px;
	/* background-color: cadetblue; */
	width: 300px;
	box-sizing: border-box;
	height: 100%;
}

.WidgetTitle{
	font-weight: 800;
	font-size: 30px;
	margin-bottom: 10px;
}

.widget{
	margin: 10px 0;
	display: block;
	color: royalblue;
	text-decoration: none;
	/* color: cornflowerblue; */
}
.widget:hover{
	cursor:pointer;
	color: rgb(92, 45, 145);
}

/*信息区域*/
.MessageArea{
	float: left;
	/* background-color: burlywood; */
	box-sizing: border-box;
	float: left;
	padding: 40px 40px;
	width: calc(100% - 300px);
	min-width: 400px;
	height: 100%;
}


/* 最近工程 */
#projectList{
	/* height: 250px; */
	/* background-color: red; */
	/* max-height: 300px; */
	overflow-y: auto;
	/* overflow: hidden; */
}
#projectList li{
	position: relative;
	float: left;
	list-style-type: none;
	/* background-color: aqua; */
	width: 100%;
	height: 50px;
	margin-bottom: 2px;
	overflow:hidden;
	border-radius: 10px;
}
#projectList li:hover{
	background-color: #d9d9d9;
}
#projectList li:hover .projectListCloseIcon{
	display: block;
}

.projectListIcon{
	position: absolute;
	width: 40px;
	height: 40px;
	left: 4px;
	top:5px;
}

/* 工程单个关闭按钮 */
.projectListCloseIcon{
	position: absolute;
	width: 16px;
	height: 16px;
	right: 5px;
	top:18px;
	border-radius: 8px;
	box-shadow: 0px 0px 10px rgba(255,10,10,.6);
	display: none;
}

.projectListTitle,.projectListPath{
	position: absolute;
	left: 50px;
	
}
.projectListTitle{
	top:10px;
	font-size: 16px;
}
.projectListPath{
	top:28px;
	font-size: 12px;
	color: gray;
}


/* 清空记录 */
#clearList{
	text-align: right;
}



/* 开发者新闻 */
#MessageNews{
	list-style-type: none;
	overflow-y: auto;
	/* background-color: red; */
	
}

#MessageNews li{
	float: left;
	position: relative;
	/* background-color: bisque; */
	/* height: 120px; */
	width: 100%;
	overflow: hidden;
}

#MessageNews img{
	float: left;
	/* position: absolute; */
	margin: 10px 0 0 10px;
	width: 200px;
	height: 100px;
	border-radius: 10px;
}

/* 新闻右边文字区域 */
.newArea{
	float: left;
	margin: 10px 0 0 10px;
	width: calc(100% - 250px);
	min-width: 200px;
}




/* .NewsTitle,.NewsContent{
	position: absolute;
	left: 220px;
	width: calc(100% - 230px);
	
	overflow:hidden;	
} */

.NewsTitle{
	font-size: 18px;
	font-weight: 600;
	top: 10px;
	text-decoration: none;
	color: black;
}
.NewsContent{
	font-size: 14px;
	font-weight: 400;
	top: 40px;
	/* background-color: aqua; */
	height: 70px;
	color: gray;
}